.page {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 90px;
}

.pageTitle {
  font-size: 48px;
  font-weight: 500;
  color: #C22918;
  height: 58px;
}

.formSection {
  display: flex;
  gap: 44px;
}

.formItem {
  flex: 1;
}

.editAssessmentButton {
  align-self: flex-end;
}

.disabled {
  position: relative;
}

.disabled::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.5);
  pointer-events: none;
}
