.page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 64px 90px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    font-size: 14px;
    font-weight: 300;
    color: #1B1E25;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
  color: #1B1E25;
  height: 30px;
}

.description {
  color: #535353;
}
