<div class="page">
  <div class="nav">
    <icon-button [size]="60" icon="back" (buttonClick)="onBackButtonClick()" />
    <span>Назад к списку</span>
  </div>
  <h1 class="title">Оценка: {{assessment()!.evaluateeInfo.fullName}}</h1>
  <span class="description">
    В поле ответа введите балл от 1 до 10.<br/>
    Если ставите оценку 1 или 10, то подкрепите оценку аргументом, комментарием или реальным кейсом из совместной работы.<br/>
    Если ставите оценку от 2 до 9, то комментарий писать необязательно. Писать комментарий необходимо в том же поле, где ставится балл.<br/>
    <br/>
    Расшифровка оценок:<br/>
    1 и 2 балла - навык очень низкий, практически отсутствует, имеются реальные кейсы, которые подтверждают отсутствие данной компетенции.<br/>
    3 и 4 балла - навык можно определить, как точку роста. Он не отсутствует полностью, его достаточно для выполнения элементарных задач, но требует развития.<br/>
    5 и б баллов - навык развит на среднем и достаточном уровне. Сотрудник применяет его в своей работе регулярно.<br/>
    7 и 8 баллов - навык развит хорошо, уверенное владение компетенцией. Требует только поддержания уровня.<br/>
    9 и 10 баллов - очень высокий уровень владения компетенцией. Про сотрудника можно сказать, что он мастер в этой сфере и может научить других данному умению.<br/>
    <br/>
    Если у тебя нет конкретных кейсов и ты не знаешь, как оценить сотрудника, то НЕ нужно ставить звездочку, отмечай в чекбоксе.
  </span>
  @for (competence of competences(); let idx = $index; track competence.id) {
    <competence label="{{competence.name}}" [openByDefault]="idx === 0">
      @for (criteria of competence.criteria; track criteria.id) {
        <criteria [criteria]="criteria" />
      }
    </competence>
  }
</div>
