.page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 64px 90px;

  app-button {
    align-self: flex-end;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    font-size: 14px;
    font-weight: 300;
    color: #1B1E25;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
  color: #1B1E25;
  height: 30px;
}

.description {
  color: #535353;
}

.warning {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #C22918;
  background-color: #FDF2F2;
  display: flex;
  gap: 10px;

  icon {
    color: #C22918;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.warningTitle {
  font-weight: 600;
  font-size: 18px;
  color: #1A1D24;
  height: 20px;
  display: flex;
  align-items: center;
}

.warningDescription {
  color: #3B3B3B;
}

.unevaluatedCriteriaList {
  padding-left: 16px;
}
