.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  width: 400px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #1D1D1D;
}

.formItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;

  app-input {
    width: 100%;
  }

  label {
    font-size: 18px;
    font-weight: 600;
    color: #1D1D1D;
  }

  .formError {
    font-size: 12px;
    color: #c22918;
    line-height: 16px;
    position: absolute;
    bottom: -20px
  }
}

.submitButton {
  width: 100%;
}

.changeFormLink {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;

  a {
    color: #c22918;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
