.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  width: 400px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #1D1D1D;
}

.formItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  app-input {
    width: 100%;
  }

  label {
    font-size: 18px;
    font-weight: 600;
    color: #1D1D1D;
  }
}

.submitButton {
  width: 100%;
}
