<div class="page">
  <h3 class="title">Вход</h3>
  <div class="formItem">
    <label for="email">Почта:</label>
    <app-input id="email" type="email" [control]="email"/>
    @if (email.touched && email.hasError('required')) {
      <div class="formError">Пожалуйста, укажите почту</div>
    } @else if (email.touched && email.hasError("email")) {
      <div class="formError">Почта имеет неверный формат</div>
    }
  </div>
  <div class="formItem">
    <label for="password">Пароль:</label>
    <app-input id="password" type="password" [control]="password"/>
    @if (password.touched && password.hasError('required')) {
      <div class="formError">Пожалуйста, введите пароль</div>
    }
  </div>
  <div class="formItem">
    <app-button class="submitButton" label="Войти" width="100%" (buttonClick)="onSubmit()"
                [disabled]="((loading$ | async) || !email.valid || !password.valid) ?? false"/>
    <div class="changeFormLink">
      Нет аккаунта?&nbsp;
      <a routerLink="/auth/register">Зарегистрироваться</a>
    </div>
  </div>
</div>
