<div class="assessmentListItem">
  <avatar [size]="56"/>
  <div class="info">
    <span class="name">{{ assessment().evaluateeInfo.fullName }}</span>
    <span class="position">{{ getPositionString(assessment().evaluateeInfo.position) }}</span>
    <span class="team">{{ assessment().evaluateeInfo.teamName }}</span>
  </div>
  <div class="deadlines">
    {{ deadlines() }}
  </div>
  @if (isEditable()) {
    <icon [size]="24" type="edit" (click)="onEditButtonClick()" />
  }
  @if (isDeletable()) {
    <icon [size]="24" type="close" (click)="onDeleteButtonClicked()" />
  }
</div>
