.assessmentListItem {
  width: 700px;
  height: 84px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 0 8px 24px;
}

.clickable {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.clickable:hover {
  background-color: #D9D9D9;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

span {
  color: #989898;
  font-size: 14px;
}

.name {
  font-weight: 500;
  color: #1B1E25;
  font-size: 16px;
}

.deadlines {
  color: #1B1E25;
  padding: 0 24px;
  width: 225px;
  line-height: 16px;
}

.deadlines.column {
  width: 135px;
  text-align: center;
}

icon {
  padding: 4px;
  color: #c22918;
  transition: background-color 0.3s ease-in-out;
  border-radius: 100%;
}

icon:hover {
  cursor: pointer;
  background-color: rgba(194, 41, 24, 0.25);
}
