.menuItem {
  width: max-content;
  height: 32px;
  display: flex;
  gap: 6px;
  align-items: center;
  color: #535353;
  font-size: 20px;
}

.menuItem:hover {
  cursor: pointer;
  text-decoration: underline;
}

.notification {
  margin-left: 6px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #c22918;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
