.page {
  width: 100vw;
  min-height: 100vh;
  background-color: #F1F1F6;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  width: 100%;
  height: 88px;
  padding: 20px 44px 20px 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.info div {
  font-weight: 300;
}

.name {
  height: 17px;
  font-size: 14px;
  color: #535353;
}

.position {
  height: 15px;
  font-size: 12px;
  color: #989898;
}

.logout {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout:hover {
  cursor: pointer;
  background-color: rgba(194, 41, 24, 0.25);
}
