.selectWrapper {
  position: relative;
  font-size: 16px;
  color: #535353;
  width: 100%;
  outline: none;
  background-color: #fff;
  height: 48px;
  cursor: pointer;
}

.selectDisplay {
  padding: 12px 10px;
  border: 1px solid #535353;
}

.disabled {
  border-color: #DFDFDF;
  color: #BFBFBF;
  cursor: default;
}

.arrow {
  position: absolute;
  right: 12px;
  top: 12px;
  transform: rotate(180deg);
}

.selectDisplay.active {
  border-color: #C22918;
}

.active .arrow {
  transform: none;
}

.dropdown {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  background-color: #fff;
  outline: 1px solid #DFDFDF;
  padding: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 4px;

  app-search {
    outline: 1px solid #DFDFDF;
  }
}

.options {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 188px;
  overflow-y: scroll;
}

.option {
  padding: 10px 16px;
  color: #535353;
}

.option:hover {
  background-color: #F1F1F6;
}
