.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #F1F1F6;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.sideLogo {
  object-fit: contain;
  width: auto;
  height: 100vh;
}

.titleLogo {
  width: 312px;
}
