.sideMenu {
  height: 100%;
  z-index: 1;
  position: fixed;
}

.out {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  padding: 40px 25px;
  width: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border-right: 1px inset #DFDFDF;
  transition: background-color 0.1s ease-in-out;
}

.sidebar.opened {
  background-color: white;
}

.openButton {
  cursor: pointer;
  color: #c22918;
}

.divider {
  background-color: #DFDFDF;
  width: 32px;
  height: 2px;
}

.sidebarItems {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.menu {
  width: 0;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 90px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

.menu.opened {
  width: 375px;
  padding: 0 56px;
}

.menuTitle {
  font-size: 24px;
  margin-top: 44px;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
