.search {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.inputWrapper {
  position: relative;
}

button {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #989898;
}

span {
  color: #535353;
}
