<app-fieldset [title]="title()">
  <app-search hint="Найдите коллег, которые оценят ваши soft skills. Можно искать по ФИО"
              (onQueryChanged)="searchEvaluators($event)"/>
  <div class="evaluatorsList">
    @for (user of filteredUsers(); track user.id) {
      <evaluators-list-item [user]="user" [checked]="evaluators().includes(user.id)"
                            (checkboxClicked)="toggleEvaluator($event)" [ngClass]="{
                           'checked': evaluators().includes(user.id)
                           }"/>
    }
    @if (filteredUsers().length === 0) {
      <span class="noEvaluators">Сотрудники не найдены</span>
    }
  </div>
  <div class="controlSection">
    <span>Выбрано: {{ evaluators().length }}</span>
    @if (isEditable()) {
      <app-button label="Назначить рецензентов" (buttonClick)="updateEvaluatorsList()"
                  [disabled]="areEvaluatorsListsEqual()"/>
    }
  </div>
</app-fieldset>
