.evaluatorsList {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 30px 100px;
  height: 264px;
  overflow-y: auto;
  position: relative;
}

evaluators-list-item {
  height: min-content;
  order: 1;
}

evaluators-list-item.checked {
  order: -1;
}

.controlSection {
  display: flex;
  gap: 50px;
  align-items: center;
  align-self: flex-end;
}

.noEvaluators {
  color: #535353;
}
