<div class="page">
  <h1 class="pageTitle">Оценивание</h1>
  <app-fieldset title="Кого хотите оценить?">
    <div class="assessmentList">
      @for (assessment of assessments(); track assessment.id) {
        <assessment [assessment]="assessment" [isClickable]="true"
                    (clicked)="onAssessmentClicked($event)"/>
      }
      @if (!assessments().length) {
        <span
          class="noAssessments">Нет назначенных периодов оценивания</span>
      }
    </div>
  </app-fieldset>
</div>
