.rating {
  display: flex;
  align-items: center;
}

icon {
  color: #DB654B;
  cursor: pointer;
  padding: 0 5px;
}

icon:first-of-type {
  padding-left: 0;
}

icon:last-of-type {
  padding-right: 0;
}
