.competence {
  padding: 20px 24px;
  border: 1px solid #DFDFDF;
  position: relative;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.control {
  cursor: pointer;
  position: absolute;
  height: 26px;
  top: -13px;
  display: flex;
  align-items: center;
  background-color: #F1F1F6;

  icon {
    color: #1B1E25;
    transform: rotate(180deg);
  }

  span {
    font-weight: 500;
    color: #1B1E25;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  transition: all 0.3s ease-in-out;
  overflow: hidden;
  max-height: 1000%;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 10px;

  icon {
    color: #c22918;
  }

  label {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #1B1E25;
    width: max-content;
    position: relative;
  }

  label:after {
    position: absolute;
    right: -16px;
    font-size: 24px;
    content: " *";
    color: #c22918;
  }
}

.closed {
  padding: 0 24px;
  border-color: transparent;
}

.closed .control icon {
  transform: rotate(0deg);
}

.closed .content {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
}
